
/* Esercizio 1 */

.ex-1-square{
    transition: 3s;
}
.ex-1-square:hover{
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 3s;
}
.ex-2-square:active{
    width:100%;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 3s;
}
.ex-3-square:hover{
    border-radius: 50%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: 3s;
}
.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition: 3s;
}

/* eseguito in due modi differenti */
.ex-5-square:hover{
    /* height: 100px; 
    width: 100px; */
    transform: scale(2);
}
.ex-5-square:active{
    /* height: 30px;
    width: 30px; */
    transform: scale(0.5);
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter:grayscale(2)
}

/* Esercizio 7 */

.ex-7-img{
    transition:3s;
}
.ex-7-img:hover{
    border-radius: 15px;
    filter:invert(2)
}

/* Esercizio 8 */

.ex-8-img{
    transition:3s;
}
.ex-8-img:hover{
    filter: grayscale(0.5) blur(10px);
    border-radius: 15px;
}

/* Esercizio 9 */

.ex-9-img{
    transition:3s;
}
.ex-9-img:hover{
    filter: grayscale(0.5) blur(10px);
    border-radius: 15px;
    transform: scale(2);
}

/* Esercizio 10 */

.ex-10-icon {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate{
    from{ transform: rotate(360deg); }
    to{ transform: rotate(-360deg); }
}

/* Esercizio 11 */

.ex-11-icon:hover {
    animation-name: rot-inverse;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rot-inverse{
    0% { transform: rotate(0)}
    80%{ transform: rotate(340deg); }
    100%{ transform: rotate(0); }
}

/* Esercizio 12 */

.ex-12-button:hover .ex-12-top-white
{
    animation-name: rotatetop;
    animation-duration: 5s;
    animation-timing-function: linear;
    background-color: green;
}

@keyframes rotatetop { 
    0% {
        left: 10%
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white
{
    animation-name: rotatebottom;
    animation-duration: 3s;
    animation-timing-function: linear;
    background-color: green;
}

@keyframes rotatebottom { 
    0% {
        right: 20%
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

/* Esercizio 13 */

.ex-13-button:hover .ex-13-top-white {
    animation-name: rotateTopComplete;
    animation-duration: 5s;
    animation-timing-function: linear;
}


@keyframes rotateTopComplete { 
    0% {
        left: 10%;
        top: -10px;
    }
    20% {
        left: calc(100% - 20px);
        top: -10px;
    }
    40% {
        left: calc(100% - 20px);
        top: 100%;
    }
    60% {
        left: 0;
        top: 100%;
    }
    80% {
        left: -10px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}


.ex-13-button:hover .ex-13-bottom-white
{
    animation-name: rotateBotComplete;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes rotateBotComplete { 
    0% {
        right: 20%;
        bottom: -10px;
    }
    20% {
        right: calc(100% - 20px);
        bottom: -10px;
    }
    40% {
        right: calc(100% - 20px);
        bottom: 100%;
    }
    60% {
        right: 0;
        bottom: 100%;
    }
    80% {
        right: -10px;
        bottom: -10px;
    }
    100% {
        right: 20%;
        bottom: -10px;
    }
}
